
br
br
.container
 a.github-fork-ribbon(href='https://github.com/jpbeaudet/rpc2-tester', title='Fork me on GitHub') Fork me on GitHub
 center
  a(href='http://www.gnu.org/licenses/gpl-3.0.en.html') GNU GENERAL PUBLIC LICENSE  
  &nbsp 
  RPC-Tester | Author: Jean-Philippe Beaudet@s3r3nity
  br 
  i Powered by:
  &nbsp 
  a(href='https://www.npmjs.com/package/json-rpc2') rpc2-json
  &nbsp 
  a(href='https://github.com/jpbeaudet/rpc2-tester') rpc2-tester
  &nbsp  
  a(href='https://www.npmjs.com/package/jade') Jade
  &nbsp  
  a(href='https://www.npmjs.com/package/bootstrap') Bootsrap 



