header
  nav.navbar.navbar-default.navbar-static-top(style='padding-left:15%;padding-right:15%;')
   left
    .container-fluid
     img(src='img/Drawing.png', alt='Rpc2-Tester', style='width:40%;padding:2%;')
    //.container-fluid
      //h1=title
    //.container-fluid(style='color:grey;')
      //h3=subtitle
