extends ../layouts/default
block content
  body
    .container(style='font-size:1.5em;margin-left:15%;margin-right:15%;')     
     .panel.panel-default
      .panel-heading 
        h3 test Box:
      .panel-body
        p Here will go all test forms

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
