extends ../layouts/default
block content
  body
    .container(style='font-size:1.5em;margin-left:15%;margin-right:15%;')
     .container-fluid
       p Click on Launch to send the client.call([method],[parameters],[callback: default callbak is to send back the results or error to the console]) 
      .container-fluid
       button.btn.btn-primary.btn-lg(type='submit') Launch
       br
       p
     .col-md-6 
      .panel.panel-default
       .panel-heading 
         h3 Enter RPC Values:
       .panel-body 
         form
           fieldset.form-group
             label(for='rpc-host') RPC2-Client Host:
             input#rpc-host.form-control(type='text', name='rpc-host',placeholder='Enter your rpc-client host here')
             small.text-muted Default: localhost
           fieldset.form-group
             label(for='rpc-port') RPC2-Client Port:
             input#rpc-port.form-control(type='text', name='rpc-port',placeholder='Enter your rpc-client port here')
             small.text-muted Default: 80
           fieldset.form-group
             label(for='rpc-method') RPC2-Client Method:
             input#rpc-method.form-control(type='text', name='rpc-method',placeholder='Enter your rpc-client method to call')
             small.text-muted Required
           .container-fluid
            .col-md-6
             fieldset.form-group
               label(for='rpc-args1') RPC2-Client Parameters 1:
               input#rpc-args1.form-control(type='text', name='rpc-args1',placeholder='Enter your first parameter rpc-client (string or json format)')
               small.text-muted Required
            .col-md-6
             fieldset.form-group
               label(for='rpc-args2') RPC2-Client Parameters 2:
               input#rpc-args2.form-control(type='text', name='rpc-args2',placeholder='Enter your first parameter rpc-client (string or json format)')
               small.text-muted Optional 
           fieldset.form-group
             label(for='moreargs') More parameters: 
             textarea#moreargs.form-control(rows='3', placeholder='Separate your parameters with ~. Each args will be included in the client.call')
             small.text-muted Optional 
           .radio
             label
               input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
               |       Option one 
           .radio
             label
               input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
               |       Option two 
           .radio.disabled
             label
               input#optionsRadios3(type='radio', name='optionsRadios', value='option3', disabled='')
               |       Option three is disabled
           .checkbox
             label
               input(type='checkbox')
               |  Check me out

     .col-md-6 
      .panel.panel-default
       .panel-heading 
         h3 json-rpc2 javascript call :
       .panel-body(style='color:grey;')
        h4 RPC2-Client:
        if client
          p=client
        h4 RPC2-Call:
        if call
          p=call

     .col-md-6 
      .panel.panel-default
       .panel-heading 
         h3 Callback/Error Console:
       .panel-body(style='color:grey;')
        p=results

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
